@import './mixin.scss';

.text-underline {
  text-decoration: underline;
  text-underline-position: from-font;
}

.flex-space {
  flex-grow: 1!important;
}

$sides: (left,right);
@each $side in $sides {
  .float-#{$side}{
    float: $side;
    @include clearfix();
  }
}

$position: ( "all", "left", "right", "bottom", "top","x","y");

@for $amounts from -100 to 100 {
  @each $space in $amounts {
    @each $side in $position {
      @if $side == 'all' {
        .ma#{$space} {
          margin: #{$space}px !important;
        }

        .pa#{$space} {
          padding: #{$space}px !important;
        }
      } @else if $side == 'x' {
        .mx#{$space} {
          margin-left: #{$space}px !important;
          margin-right: #{$space}px !important;
        }

        .px#{$space} {
          padding-left: #{$space}px !important;
          padding-right: #{$space}px !important;
        }
      } @else if $side == 'y' {
        .my#{$space} {
          margin-top: #{$space}px !important;
          margin-bottom: #{$space}px !important;
        }
        .py#{$space} {
          padding-top: #{$space}px !important;
          padding-bottom: #{$space}px !important;
        }
    } @else {
        .m#{str-slice($side, 0, 1)}#{$space} {
          margin-#{$side}: #{$space}px !important;
        }

        .p#{str-slice($side, 0, 1)}#{$space} {
          padding-#{$side}: #{$space}px !important;
        }
      }
    }
  }
}